@import '../../scss/style.scss';
@import "@vueform/toggle/themes/default.css";


.c-step2{
    padding: 50px 150px 0px 90px;
    font-family: $font-principal;
   
    &__titulo{
        @extend .form_title
    }

    &__plans{
        @extend .d-flex;
        @extend  .justify-content-space-between;

        &__plan{
            @extend .d-flex;
            flex-direction: column;
            
            border: 1px solid  $color-cinza-claro-texto;
            padding: 15px 0px 0px 15px;
            width: 120px;
            align-content: space-between;
            border-radius: 10px;
            

            &__img{
                height: 60%;
                margin-bottom: 50px;
            }

            &__price{
             display: flex;
             flex-direction: column;
             padding-bottom: 10px;
             font-family: $font-principal;
             
            h4{
                color: $color-btn-azul-escuro;
            }
            span{
                color: $color-cinza-claro-texto;
                font-size: 12px;
                margin-top: 5px;
            }
            h6{
                color: $color-btn-azul-escuro;
                margin-top: 5px;
            }
                
            }
        }

        &__plan:hover{
            cursor: pointer;
            background-color: $color-background;
        }
    }

    &__payment{
        font-family:$font-principal;
        background-color: $color-background;
        color:  $color-cinza-claro-texto;
        @extend .d-flex;
        justify-content: space-around;
        padding: 0px 80px 0px 80px;
        align-items: center;
        height: 45px;
        margin-top: 30px;
        border-radius: 5px;

        &__toggle{
            --toggle-bg-on: hsl(213, 96%, 18%);
            --toggle-border-on: hsl(213, 96%, 18%);
            --toggle-bg-off: hsl(213, 96%, 18%);
            --toggle-border-off: hsl(213, 96%, 18%);
                       
        }
        &__toggle:focus{
            box-shadow: none;
        }

        span{
            font-size: 14px;
        }
    }
}
