@import '../../scss/style.scss';
.c-container{
    @extend .d-flex;
    background-color: white;
    margin: 8%;
    width: 900px;
    padding: 15px;
    border-radius: 15px;
}
@media screen and (max-width: 999px){
    .c-container{
        flex-direction: column;
        margin: unset;
        padding: unset;
        height: 100vh;
    }
}
