@import '../../scss/style.scss';


.c-complements{
    padding: 50px 90px 0px 90px;
    font-family: $font-principal;
}

@media screen and (max-width: 999px){ 
    .c-complements{
        background-color: white;
        padding: 10% 5% 5% 5%; 
        margin: -65px 15px 0px 15px;
        border-radius: 10px;
    }
}